* {
  box-sizing:border-box;
}

/**** Sections****/
body {
  margin: 0 auto;
}

header {
  max-width:100%;
  height:auto;
  background-image: url('../img/desktopimage.jpg');
  background-size: cover;
  padding:30px;
}

.portfolio {
  max-width:100%;
  height: auto;
  background-color: #ffffff;
  color:#095156;
  border: 1px solid #000;
  overflow:auto;
}

.about {
  max-width:100%;
  height: auto;
  background-color: #0b7e8b;
  color:#ffffff;
  border: 1px solid #000;
  display:flex;
  align-content:space-around;
  }

.left {
  flex: 30%;
}

.right {
  flex:70%;
  padding:30px;
}

.about img {
  border: 1px solid #000;
  border-radius:25%;
  max-width:55%;
  height:80%;
}

.connect {
  max-width:100%
  height:auto;
  background-color: #095156;
  color:#000000;
  border: 1px solid #000;
  overflow:auto;
}

footer {
  max-width:100%;
  height:auto;
  background-color:#095156;
  color:#bdbf09;
  text-align:center;
  border: 1px solid #000;
}




/*
#Portfolio img {
  height:auto;
  max-width:50%;
  position:relative;
  left:200px;
  border: 1px solid #b7b7b7;
}

#About img {
  height:300px;
  max-width:200px;
  position:relative;
  left:300px;
  border: 1px solid #b7b7b7;
}

*/






/**** Fonts and Text*****/

h1   {
  font-family:'Roboto Slab',serif;
  font-weight: bold;
  font-size:4vw;
  color:#bdbf09;
  margin:0;
  padding:15px 25px;
}

h2   {
  font-family:'Roboto',sans-serif;
  font-weight:normal;
  font-size:2.5vw;
  color:#095156;
  margin:0;
  padding:10px 25px;
}

h3 {
  font-family:'Roboto Slab',serif;
  font-size:2.5vw;
  font-weight:bold;
  text-align:center;
  margin:0;
  padding: 10px 0px 15px 0px;
}

h4 {
  font-family:'Roboto',sans-serif;
  font-size:1.5vw;
  font-weight:bold;
  margin:0;
  padding:0;
}

p   {
  font-family:'Roboto',sans-serif;
  font-size:1vw;
}

.copyright {
  font-family:'Roboto', sans-serif;
  font-size:.75vw;
  color:#bdbf09;
}

a:link {
  color:#ffffff;
}

a:visited {
  color:#bdbf09;
}
