* {
  box-sizing:border-box;
}

/* Style the Body */
body {
  font-family:Arial;
  margin:0;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color:white;
}

/* Navigation bar */
.navbar  {
  display:flex;
  background-color: #333;
  justify-content:center;
}

/* Style the navigation bar links */
.navbar a {
  color:white;
  padding:14px 20px;
  text-decoration:none;
  border: 1px solid white;
}

/* change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color:black;
}

/* Column Container */
.row {
  display:flex;
  flex-wrap: wrap;
}

/* Create to unequal columns that sit next to each other */
.side {
  flex:30%;
  background-color: #f1f1f1;
  padding:20px;
}

.main {
  flex:70%;
  background-color: white;
  padding:20px;

}

/* Style image placeholders */
.fakeimg  {
  background-color: #aaa;
  width:100%;
  padding:20px;
}

.smallpic {
  height:60px;
}

.largepic {
  height:200px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align:center;
  background: #ddd;
}

/* Responsive Layout - when screen is less than 700px wide
make the two columns stac on top of each other instead of next
to each other */

@media (max-width:700px) {
  .row, .navbar {
    flex-direction: column;
  }
}
